html { 
  font-size: 12px !important;
  font-family: Inter,sans-serif;
  height: 100%;
}
body {
  margin: 0 !important;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
#root {
  height: 100% !important;
}